.Tile {
  position: relative;
}
.tile-content {
  position: relative;
  height: 100%; width: 100%;
  background-color: lightgray;
  transition: background-color 200ms;
  cursor: pointer;
}
.tile-content--:hover {
  background-color: #ddd;
}
.tile-content--2 {
  background-color: tomato;
}
.tile-content--2:after {
    position: absolute;
    top: 20px; left: 20px;
    font-family: "Material Icons";
    content: "\e5cd";
    font-size: 60px;
}
.tile-content--1 {
  background-color: lightblue;
}
.tile-content--1:after {
    position: absolute;
    top: 20px; left: 20px;
    font-family: "Material Icons";
    content: "\e836";
    font-size: 60px;
}
.tile-content--game-end-true {
  background-color: lime;
}
