.Board-tiles {
  display: grid;
  width: 320px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 500px) {
  .Board {
    width: 100%;
    padding-top: 100%;  /* create a 1:1 aspect ratio height */
    position: relative;
  }
  .Board-tiles {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 10px;
  }
}
