@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=IBM+Plex+Mono:200i,400');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

h1, h2, h3, h4, h5 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  font-style: italic;
}
h1 {
  font-size: 40px;
}
h3, h4, h5 {
  /* font-style: normal; */
  font-weight: 400;
}

a {
  color: tomato;
}
a:hover,
a:active {
  text-decoration: none;
}

input[type=text] {
  border: 1px solid gray;
  height: 28px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

button, input[type=submit] {
  position: relative;
  display: inline-block;
  border: 0;
  box-shadow: none;
  outline: 0;
  background-color: lightgray;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 200ms;
}
button:hover,
button:active, input[type=submit]:hover, , input[type=submit]:active {
  background-color: #ddd;
}
button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #eee;
  cursor: not-allowed;
}

.app-message--cross > span {
  background-color: tomato;
}

.app-message--circle > span {
  background-color: lightblue;
}
